body {
	margin: 0;
	font-family: arial;
}
.kontener {
	position: relative;
	width: 700px;
	height: 700px;
	margin: 20px auto;
}
.areaBot, .areaPlayer {
	position: absolute;
	width: 100%;
	height: 45%;
	border: 5px solid orange;
	border-radius: 20px;
	background-color: #064E64;
}
.areaBot {
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.areaPlayer {
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.info {
	position: absolute;
	width: 30%;
	height: 10%;
	top: 45%;
	right: 35%;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 70px;
	border: solid 5px #222;
	background-color: white;
}
.teks-bot {
	margin: 20px;
}
.div-img {
	position: relative;
	width: 70%;
	height: 40%;
	display: flex;
	align-items: center;
}
.gajah, .orang, .semut {
	cursor: pointer;
	transition: 300ms;
	border-radius: 50%;
}
.gajah:hover, .orang:hover, .semut:hover {
	transform: rotate(45deg);
}
.gajah, .semut {
	position: absolute;
}
.gajah {
	left: 0;
}
.orang {
	position: relative;
	margin: auto;
}
.semut {
	right: 0;
}
.teks-player {
	position: absolute;
	bottom: 30px;
	margin: auto;
}
.kirim {
	position: absolute;
	bottom: 30px;
	margin-left: 300px;
	padding: 5px 10px;
	background-color: orange;
}

.teks-bot, .teks-player {
	color: #ddd;
	text-shadow: 1px 1px 1px #222;
}